<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.wired.com/photos/619e948578b5b847a0f9c0c4/191:100/w_1280,c_limit/Business-Why-are-DVDs-Being-Made-1185528452.jpg);">
  <div class="container">
    <h1>Your Watch List</h1>
    <p>Create your own lists and add all movies you want to watch !</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
